.BaseLayout {
  position: relative;
  min-height: 100vh;
  .body {
    position: relative;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    @media (max-width: 1300px) {
      margin: 0 50px;
    }
  }
}
