@import './theme/light.module.scss';
@import './reset';
@import './normalize';
@import './fonts';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 1.1rem/140% 'Roboto', sans-serif;
  color: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main-background);
  @media (min-width: 1000px) {
    font: 1rem/140% 'Roboto', sans-serif;
  }
}
html {
  height: auto;
}

#__next {
  position: relative;
  width: 100%;
  min-height: 100%;
}

button:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

footer {
  flex: 0 0 auto;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

:root {
  @each $key, $value in $lightTheme {
    #{unquote($key)}: $value;
  }
}
