@import './theme/light.module.scss';
@import './reset';
@import './normalize';
@import './fonts';
@import '../views/videoPlatformcraft/platformcraft-style.css';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 1.1rem/140% 'Roboto', sans-serif;
  color: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main-background);
  @media (min-width: 1000px) {
    font: 1rem/140% 'Roboto', sans-serif;
  }
}
html {
  height: auto;
}

#__next {
  position: relative;
  width: 100%;
  min-height: 100%;
}

button:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

footer {
  flex: 0 0 auto;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

:root {
  @each $key, $value in $lightTheme {
    #{unquote($key)}: $value;
  }
}

.swiper-wrapper {
  align-items: baseline;
}

.swiper {
  width: 100%;
}

.prev {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: calc(50% - 16px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  &:hover {
    background: rgba(0, 0, 0, 1);
  }
  &.swiper-button-disabled {
    cursor: default;
    background: rgba(0, 0, 0, 0.4);
  }
  svg {
    transform: scale(0.7);
  }
  @media (min-width: 400px) {
    width: 42px;
    height: 42px;
    top: calc(50% - 32px);
    svg {
      transform: scale(1);
    }
    @media (min-width: 744px) {
      width: 36px;
      height: 36px;
      top: calc(50% - 27px);
    }
  }
}

.next {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: calc(50% - 19px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  &:hover {
    background: rgba(0, 0, 0, 1);
  }
  &.swiper-button-disabled {
    cursor: default;
    background: rgba(0, 0, 0, 0.4);
  }
  svg {
    transform: scale(0.7);
  }
  @media (min-width: 400px) {
    width: 42px;
    height: 42px;
    top: calc(50% - 32px);
    svg {
      transform: scale(1);
    }
    @media (min-width: 744px) {
      width: 36px;
      height: 36px;
      top: calc(50% - 27px);
    }
  }
}
