@mixin fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.EditModal {
  @include fullscreen;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .body {
    position: relative;
    width: 420px;
    height: 680px;
    background-color: var(--color-common-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .form {
    position: relative;
    padding: 70px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .submit {
    position: relative;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
  }
}

.overlay {
  @include fullscreen;
  background-color: var(--color-common-dark-grey);
  opacity: 0.8;
}

.close {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 50px;
  transform: rotate(47deg);
  z-index: 1;
  cursor: pointer;
}
